.App {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
  text-align: center;
}

.App-intro {
  font-size: large;
  max-width: 600px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.hackathon-entry {
  display: flex;
  margin: 20px;
}

.hackathon-entry article {
  width: 80%;
}

.hackathon-entry footer {
  text-align: right;
  position: relative;
  width: 20%;
}

.hackathon-entry a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: darkorange;
  text-decoration: none;
}

.tags {
  font-size: 14px;
}

.App-title {
  font-size: 1.5em;
  font-family: "K2D", sans-serif;
}

h2 {
  font-size: 1.1em;
  font-family: "K2D", sans-serif;
}

h3 {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  margin: 0;
}

.metadata {
  font-size: 14px;
}

p {
}

.hackathon-entry p {
  margin: 10px 0 0;
}

.hackathon-entry a {
  font-size: 14px;
  border: 1px solid;
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
}

small {
  display: block;
  margin: 10px 0;
  text-align: center;
}

.tags span {
  padding-right: 0.5em;
}
